@import url("../../Componentes/Cabecalho/cabecalho.css");
@import url("../../Componentes/ModalAgenda/modalAgenda.css");
@import url("../../Componentes/Footer/footer.css");
@import url("../../Componentes/Botoes/botaoAgenda.css");
@import url("../../Componentes/Formulario/formulario.css");
@import url("../../Paginas/Funcionalidades/tabs.css");

@media (min-width:0px){
    /*-------------------BANNER-----------------*/
    .secao__banner{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        
        padding-top: 8.375rem;
        padding-bottom: 17.5rem;

        background-color: #EFEFEF;

        width: 100vw;
        overflow: hidden;

        background-image: url("../../../Assets/Funcionalidades/Imagens/imagem--banner.svg");
        background-position: center bottom;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .secao__conteudo__banner{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4.125rem;
    }
    .titulo__secao__banner{
        font-family: var(--inter);
        font-size: var(--font-50);
        font-weight: var(--medium);
        line-height: var(--line-60);
        color: var(--black);

        width: 61rem;

        text-align: center;
    }
    .secao__descricao__banner{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2.125rem;
    }
    .descricao__secao__banner{
        font-family: var(--inter);
        font-size: var(--font-18);
        font-weight: var(--regular);
        line-height: var(--line-28);
        color: var(--black);

        margin: 0%;

        width: 32.188rem;
    }
    /*---------------TABS---------------*/
    .secao__tabs__funcionalidades{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;

        padding-top: 5.438rem;
        padding-bottom: 7.25rem;

        background-color: #E6E6E6;
    }
    .titulo__tabs__funcionalidades{
        font-family: var(--inter);
        font-size: var(--font-40);
        font-weight: var(--regular);
        line-height: var(--line-48);
        color: var(--black);

        width: 41.5rem;

        text-align: center;

        margin-bottom: 6.313rem;
    }
    .cabecalho__secao___tabs__funcionalidades{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        width: 100vw;

        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
    .tabs__funcionalidades{
        border: none;
        background-color: transparent;

        font-family: var(--inter);
        font-size: var(--font-24);
        font-weight: var(--semi-bold);
        line-height: var(--line-37);
        color: #999999;

        width: 21.88vw;

        padding-bottom: 1rem;

        border-bottom: 2px solid transparent;

        transition: all .1s ease-in-out;
    }
    .secao__conteudo__tabs__funcionalidades{
        
    }
    .secao__tabs__conteudo__funcionalidades{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        gap: 1rem;


        width: 100vw;

        padding-top: 9rem;
        padding-left: 2.813rem;
        padding-right: 2.813rem;
    }
    .cabecalho__secao___tabs__conteudo__funcionalidades{
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        border-left: 1px solid rgba(0, 0, 0, 0.1);
    }
    .tabs__conteudo__funcionalidades{
        border: none;
        border-left: 2px solid transparent;

        background-color: transparent;

        padding:2.375rem;

        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;


        font-family: var(--inter);
        font-size: var(--font-18);
        font-weight: var(--regular);
        line-height: 22px;
        color: #717171;
    }
    .secao__info__tabs__conteudo__funcionalidades{
        width: 55.625rem;

        display: flex;
        flex-direction: row;
        align-items: stretch;

    }
    .container__info__tabs__conteudo__funcionalidades{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;

        background-color: #FAFAFA;

        padding-top: 3.083rem;
        padding-bottom: 3rem;
    }   
    .titulo__info__tabs__conteudo__funcionalidades{
        padding-left: 3rem;
        padding-bottom: 3rem;

        font-family: var(--inter);
        font-size: var(--font-18);
        font-weight: var(--semi-bold);
        line-height: 22px;
        color: #000000;

        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;

        border-bottom: 1px solid rgba(0, 0, 0, 0.1);

        width: 26.438rem;
    }
    .descricao__info__tabs__conteudo__funcionalidades{
        padding-left: 3rem;
        padding-right: 4.25rem;
        

        font-family: var(--inter);
        font-size: var(--font-18);
        font-weight: var(--regular);
        line-height: var(--line-28);
        color: #616161;
        margin: 0%;
        margin-bottom: 4.25rem;
    }
    #botao__agenda__tabs__funcionalidades{
        margin-left: 3rem;
    }
    /*------------BENEFICIOS------------*/
    .secao__beneficios{
        display: flex;
        flex-direction: column;
        align-items: center;

        background-color: var(--neutral--80);

        padding-top: 7.438rem;
    }
    .titulo__beneficios{
        font-family: var(--inter);
        font-size: var(--font-40);
        font-weight: var(--regular);
        line-height: var(--line-48);
        color: var(--white);

        margin-bottom: 10.813rem;
    }
    .secao__caroussel__beneficios{
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        width: 93.65vw;
    }
    .container__caroussel__beneficios{
        display: flex;
        flex-direction: row;
        align-items: flex-start;

        overflow: hidden;

        width: 93.65vw;
    }
    .lista__caroussel__beneficios{
        display: flex;
        flex-direction: row;
        align-items: flex-start;

        width: 400vw;

        transition: all .3s ease-in-out;
    }
    .item__lista__caroussel__beneficios{
        width: 93.65vw;

        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        gap: 1rem;
    }
    .container__conteudo__item__lista__carrousel__beneficios{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.5rem;
    }
    .titulo__item__lista__caroussel__beneficios{
        font-family: var(--inter);
        font-size: var(--font-30);
        font-weight: var(--regular);
        line-height: var(--line-40);
        color: var(--white);
    }
    .descricao__item__lista__caroussel__beneficios{
        font-family: var(--inter);
        font-size: var(--font-16);
        font-weight: var(--regular);
        line-height: var(--line-25);
        color: #9D9E9F;
        
        margin: 0%;

        padding-right: 1rem;
    }
    .secao__botoes__caroussel__beneficios{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 3.563rem;
        position: relative;
        top: -13rem;
    }
    .container__botoes__caroussel__beneficios{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.875rem;
    }
    .botao__carrousel-beneficios{
        background-color: transparent;
        border: 1px solid var(--white);
        border-radius: 50%;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        width: 2.375rem;
        height: 2.375rem;

        border: 1px solid rgba(255, 255, 255, 0.2);
    }
    /*-----------------API--------------*/
    .secao__api{
        width: 100vw;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        background-color: var(--neutral--80);

        padding-top: 4.5rem;
        padding-bottom: 7.938rem;
    }
    .secao__conteudo__api{
        width: 93.65vw;
        height: 34.75rem;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        padding-bottom: 4rem;
        padding-left: 4rem;
        padding-top: 4rem;

        background-color: var(--neutral--60);

        background-image: url("../../../Assets/Home/API.svg");
        background-repeat: no-repeat;
        background-position: right bottom;
        background-size:contain;
    }
    .container__conteudo__api{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
    }
    .titulo__conteudo__api{
        font-family: var(--inter);
        font-size: var(--font-40);
        font-weight: var(--regular);
        line-height: var(--line-48);
        color: var(--white);

        width: 29.66vw;
    }
    .descricao__conteudo__api{
        font-family: var(--inter);
        font-size: var(--font-18);
        font-weight: var(--regular);
        line-height: var(--line-28);
        color: var(--white);

        width: 50.35vw;

        margin: 0%;
        margin-right: 4rem;
    }
    #botao__agenda__api{
        width: 14.262rem;
    }
    /*----------PRATICAS--------*/
    .secao__praticas{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 9.952rem;

        background-color: #E6E6E6;

        padding-top: 6.563rem;
        padding-bottom: 7.954rem;

        width: 100vw;
    }
    .titulo__praticas{
        font-family: var(--inter);
        font-size: var(--font-40);
        font-weight: var(--regular);
        line-height: var(--line-48);
        color: var(--black);
    }
    .lista__praticas{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        width: 75vw;
    }
    #secao__contato__funcionalidades{
        padding-top: 13.875rem;
        background-size: 100vw 54.5rem;
    }
    .lista__conteudos__tabs__mobile{
        display: none;
    }
    #botao__agenda__tabs__funcionalidades__mobile{
        display: none;
    }
}