@media (min-width:0px){
    .secao__depoimentos{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 11.125rem;

        background-color: #202125;

        padding-top: 7.125rem;
        padding-bottom: 10.625rem;
    }
    .secao__cabecalho__depoimentos{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        width: 93.65vw;
    }
    .titulo__cabecalho__depoimentos{
        font-family: var(--inter);
        font-size: var(--font-40);
        font-weight: var(--regular);
        line-height: var(--line-48);
        color: var(--white);

        width: 25.375rem;
    }
    .carousel__indicadores{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .carousel__indicador{
        font-family: var(--inter);
        font-size: var(--font-20);
        font-weight: var(--regular);
        line-height: var(--line-24);
        color: var(--text-gray-100);

        background-color: transparent;
        border: none;

        padding: 0.875rem 1.531rem;

        transition: all .25s ease-in-out;
    }
    .carousel__indicador--ativo{
        font-family: var(--inter);
        font-size: var(--font-20);
        font-weight: var(--medium);
        line-height: var(--line-24);
        color: var(--white);

        border-bottom: 2px solid var(--white);

        transition: all .25s ease-in-out;
    }
    .botao__carrousel-depoimentos{
        background-color: transparent;
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 50%;

        width: 2.375rem;
        height: 2.375rem;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .secao__container__carousel{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        width: 93.65vw;
    }
    .container__carousel{
        width: 66vw;

        overflow-x: hidden;
    }
    .lista__depoimentos{
        display: flex;
        flex-direction: row;
        align-items: center;

        width: 280vw;

        overflow-x: hidden;

        transition: all .4s ease-in-out;
    }
    .item__lista__depoimentos{
        width: 66vw;

        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 2rem;
    }
    .imagem__depoimento{
        width: 8.938rem;
        height: 8.938rem;
    }
    .secao__conteudo__lista__depoimentos{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .nome__conteudo__lista__depoimentos{
        font-family: var(--inter);
        font-size: var(--font-30);
        font-weight: var(--medium);
        line-height: var(--line-40);
        color: var(--white);

        margin-bottom: 0.25rem;
    }
    .subtitulo__conteudo__lista__depoimentos{
        font-family: var(--inter);
        font-size: var(--font-14);
        font-weight: var(--medium);
        line-height: var(--line-17);
        color: var(--white);

        margin: 0%;
        margin-bottom: 0.688rem;
    }
    .descricao__conteudo__lista__depoimentos{
        font-family: var(--inter);
        font-size: var(--font-18);
        font-weight: var(--regular);
        line-height: var(--line-28);
        color: var(--text-gray-60);

        margin: 0%;
    }
    .carousel__indicadores-descricao{
        display: flex;
        flex-direction: row;
        align-items: center;

        transition: all .4s ease-out;

        height: 0.25rem;
        background: rgba(196, 196, 196, 0.2);
        border-radius: 8px;
    }
    .carousel__indicador-descricao{
        background-color: var(--red-primary);
        border: none;
        visibility: hidden;
        opacity: 0;

        height: 0.25rem;
        width: 2.25rem;

        border-radius: 8px;

        transition: all .1s ease-in-out;
    }
    .carousel__indicador--ativo-descricao{
        visibility: visible;
        opacity: 1;
    }
}